
services:
  backend:
    build: ./backend
    container_name: play_backend
    restart: always
    environment:
      - NODE_ENV=production
    ports:
      - "3001:3001"
    networks:
      - app-network

  frontend:
    build: ./frontend
    container_name: play_frontend
    restart: always
    depends_on:
      - backend
    ports:
      - "80:80"
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
