/* Button Styles */
.button {
    border: none;
    padding: 10px 24px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 500;
    font-size: 1.3rem;
    transition: all 0.3s ease;
}

.primary {
    background: linear-gradient(to top, #AA3039, #F95461);
    color: #fff;
    margin: 0.5rem;
}

.secondary {
    background: transparent;
    color: #fff;
    border: 2px solid rgba(255, 255, 255, 0.2);
    margin: 0.5rem;
}

.cta {
    background: linear-gradient(90deg, var(--primary-red), var(--primary-blue));
    color: #fff;
    padding: 0.8rem 0.2rem;
    border-radius: 2px;
    font-size: 3.5rem;
    font-weight: 300;
    font-family: 'Inter', sans-serif;
}

.cta:hover {
    transform: translateY(-1px);
}