/* Header Styles */
.header {
    height: 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 3rem;
    background-color: #000;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 10;
    box-sizing: border-box;
    font-family: 'Montserrat', system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
    font-weight: lighter;
}

.header button:focus,
.header button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

@media (max-width: 768px) {
    .header {
        height: 80px;
        padding: 1rem 2rem;
    }
}

@media (max-width: 570px) {
    .header {
        padding: 1rem 1.5rem;
        position: fixed;
    }
}