/* Importar Montserrat desde Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

/* Header Styles */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 3rem;
    background-color: #000;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 10;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
    font-weight: lighter;
}

.header button:hover,
.header button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}