/* HeroContent Styles */
.heroContent {
    z-index: 1;
    max-width: 1400px;
    position: relative;
}

.title {
    color: #fff;
    letter-spacing: 3px;
    margin-bottom: 1.5rem;
    font-size: 6rem;
    font-weight: 900;
    line-height: 1.2;
}

.description {
    color: #fff;
    margin-bottom: 2rem;
    font-size: 3rem;
    line-height: 1.4;
}

.highlight {
    color: #efefef;
    font-weight: 700;
}

.ctaContainer {
    margin-top: 2rem;
}

.ctaLight {
    font-weight: 300;
}

.ctaBlack {
    font-weight: 900;
}

@media (max-width: 768px) {
    .title {
        font-size: 4rem;
    }

    .description {
        font-size: 2rem;
    }
}

@media (max-width: 400px) {
    .title {
        font-size: 3rem;
    }

    .description {
        font-size: 1.5rem;
    }
}