/* Hero Styles */
.hero {
    box-sizing: border-box;
    background: #000;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    padding: 6rem 6vw 10rem 6vw;
    display: flex;
    position: relative;
    overflow: hidden;
}

@media (max-width: 768px) {
    .hero {
        padding: 0rem 4vw 8rem 4vw;
    }
}