/* Landing Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.landing {
    height: calc(100vh - 110px);
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    background: #131313;
}

.main {
    flex: 1;
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    z-index: 1;
    overflow: hidden;
}

@media (max-width: 600px) {
    .landing :global(.footer) {
        padding: 0 6vw 0 6vw;
        font-size: 0.9rem;
    }
}
