/* Landing Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.landing {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1;
    position: relative;
    width: 100%;
    align-items: center;
    justify-content: center;
}

@media (max-width: 768px) {
    .main {
        flex-direction: column;
    }
}