.link {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;
    transition: opacity 0.3s cubic-bezier(0.5, 0, 0.5, 1), transform 0.1s cubic-bezier(0.5, 0, 0.5, 1);
}

.link:hover {
    opacity: 0.9;
    transform: translateY(-2px);
}

.link:visited, .link:hover, .link:active {
    color: #fff;
}

