.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    color: white;
    overflow: hidden;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80vw;
    max-width: 500px;
    min-width: 300px;
    background: #000;
    padding: 2rem 0 2rem 0;
    border-radius: 1rem;
    border: solid 1px #b8b8b8;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    max-height: 80vh;
    overflow-y: auto;
}

h2 {
    margin-bottom: 1.5rem;
    font-size: 2rem;
}

.inputGroup {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 4rem;
}

.input {
    width: auto;
    height: 40px;
    margin-bottom: 1rem;
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
}

.actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 0.5rem;
}

.button {
    background: linear-gradient(to top, #AA3039, #F95461);
    color: #fff;
    width: 100%;
}

/* grupo de textos separado del botón */
.textGroup {
    margin-top: 1.75rem;   /* separación respecto al botón */
    display: flex;
    flex-direction: column;
    gap: 0.8rem;           /* espacio entre los dos <p> */
    align-items: center;
}

.text {
    color: white;
    font-size: 0.9rem;
    margin: 0;
}

.link {
    text-decoration: none;
    color: #f95461;
    font-weight: 600;
}

@media (max-width: 475px) {
    .login {
        width: 90vw;
        padding: 1.5rem 0 1.5rem 0;
    }

    .inputGroup {
        padding: 0 1.5rem;
    }

    h2 {

        font-size: 1.5rem;
    }
}