.container {
    min-height: 100vh;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    background: #242424;
    color: white;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #000;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.inputGroup {
    display: flex;
    flex-direction: column;
}

.button {
    background: linear-gradient(to top, #AA3039, #F95461);
    color: #fff;
}

.text {
    text-decoration: none;
    color: white;
    padding: 0.5rem;
}

.input {
    margin-bottom: 1rem;
    padding: 0.5rem;
    border: none;
    border-radius: 0.5rem;
}
