/* NavButtons Styles */
.navButtons {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.navButtons ul {
    display: flex;
    gap: 1rem;
}

.links {
    text-decoration: none;
    color: white;
}

