/* SocialIcon Styles */
.socialIcon {
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
    transition: opacity 0.3s cubic-bezier(0.5, 0, 0.5, 1), transform 0.1s cubic-bezier(0.5, 0, 0.5, 1);
}

.socialIcon:hover {
    opacity: 0.7;
}

.socialIcon svg {
    width: 25px;
    height: 25px;
}

.socialIcon:hover {
    opacity: 0.9;
    transform: translateY(-2px);
}

.socialIcon:visited,
.socialIcon:hover,
.socialIcon:active {
    color: #fff;
}