.info {
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.playlist {
    display: flex;
    flex-direction: row;
}

.h3 {
    padding-bottom: 1rem;
}

.p {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.image{
    width: 20rem;
    height: 20rem;
}